<div class="panel panel-default">
 <div class="panel-heading">
   <div class="row">
     <div class="col-sm-8">
       <strong class="panel-title">Comments</strong>
     </div>
     <div class="col-sm-4 text-right">
       <button class="btn btn-default btn-sm" id="btn-comment">
       <i class="fa fa-comments-o"> Post Comment...</i></button>
     </div>
   </div>
 </div>

<div class="panel-body">
  <blockquote id="post-comment" style="display:none;">
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-sm-8">
    <form method="post" action="{% url "blog:post_comment" post_id=post.id %}" id="comment-form">
      {% csrf_token %}
      {% for field in comment_form %}
      <div class="form-group">
      {{ field }}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-success" type="button">
        <i class="fa fa-comment"></i>Post
      </button>
    </form>
  </div>
 </div>

  {% else %}
      <div class="row">
        <form method="post" action="/image/{{ image.uniqueId }}/comment">
            <div class="form-group col-sm-12">
                 <label class="col-sm-2 control-label"
                  for="name">Name:</label>
                 <div class="col-sm-10">
                     <input class="form-control"
                      type="text" name="name">
                 </div>
             </div>
             <div class="form-group col-sm-12">
                 <label class="col-sm-2 control-label"
                  for="email">Email:</label>
                 <div class="col-sm-10">
                     <input class="form-control"
                      type="text" name="email">
                 </div>
             </div>
             <div class="form-group col-sm-12">
                 <label class="col-sm-2 control-label"
                  for="comment">Comment:</label>
                 <div class="col-sm-10">
                     <textarea class="form-control"
                      name="comment" rows="2"></textarea>
                 </div>
             </div>

             <div class="form-group col-sm-12">
                 <div class="col-sm-12 text-right">
                      <button type="submit" id="comment-btn"
                      class="btn btn-success" type="button">
                      <i class="fa fa-comment"></i>
                      Post
                     </button>
                 </div>
             </div>
           </form>
         </div>

     {% endif %}
     </blockquote>
     {% if post.comments %}
     <ul class="media-list">

       {% for comment in post.comments.all %}
       <li class="media">
         <div class="pull-left btn-group-vertical media-object">
           <a class="btn btn-default borderless upvote-btn" data-id="{{ comment.title }}">
             <i class="fa fa-thumbs-o-up fa-lg"></i><strong> {{ comment.upvotes }}</strong>
           </a>
           <a class="btn btn-default borderless downvote-btn" data-id="{{ comment.title }}">
             <i class="fa fa-thumbs-o-down fa-lg"></i><strong> {{ comment.downvotes }}</strong>
           </a>
         </div>
         <div class="media-body">
           <strong class="media-heading">{{ comment.user }}</strong> <small class="text-muted">{{ comment.pub_date| timesince}}</small>
           <p>{{ comment.body }}</p>
         </div>
       </li>
       {% endfor %}


    </ul>
    {% endif %}
    </div>
  </div>

  <script>
  $(".upvote-btn").click(function() {

  });

  </script>
