{% load staticfiles %}

<div class="row">
<div class="col-sm-12">
  <div class="panel panel-default post-container">
    <div>
      <div class="panel-header text-center">
        <a href="{% url 'blog:BlogPost' slug=post.feed.slug pk=post.id %}" style="color:#212121;"><h4>{{ post.title }}</h4></a>
      </div>
    </div>
    <div class="youtube-player" data-id="{{ post.song.video_id }}">
    <div class="row">
      <div class="col-sm-3">
      <div class="panel-body">

        {% if post.image %}
          <img src="/media/{{ post.image }}" class="img-rounded" id="img-container" style="width:200px;height:150px" />
        {% else %}
          <img src="{% static "blog/public/images/Placeholder.png" %}" class="img-rounded" style="width:150px;height:150px" />
        {% endif %}
          <button class="button img-circle mv-btn" data-id="{{ post.song.video_id }}" data-view-url="{% url 'blog:view_incrementor' %}">
            {% csrf_token %}
            <i class="fa fa-play-circle-o fa-5x"></i>
          </button>

      </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">

      <div class="panel-body text-center">{{ post.description|truncatewords_html:20|linebreaks }}</div>
      <div class="text-center col-sm-12 hidden text-scroller" id="lyric-scroller"
        style="height:180px;overflow:auto;">{{ post.description|linebreaks }}
      </div>
      <div class="row">
      <div class="col-sm-12">
        <div class="wrapper text-center">
        <button class="btn btn-default lyrics-button borderless"><i class="fa fa-ellipsis-h fa-2x"></i></button>
        </div>
      </div>
      </div>

      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <div class="btn-group-vertical pull-right">
          {% include 'buttons/cell_like_button.html' %}

            <button class="btn btn-default yt-button">
              <a href="{{post.song.video}}" target="_blank">
              <i class="fa fa-youtube fa-2x"></i>
              </a>
            </button>
            <button class="btn btn-default fb-login-btn" data-url="http://test1.com:8000"+"{{ post.get_absolute_url }}">
              <i class="fa fa-facebook fa-2x"></i>
            </button>
            <button class="btn btn-default tw-login-btn sharp">
              <a href="https://twitter.com/intent/tweet?url={{ post.quote_url }}&via=MillennialMuzik&text=custom%20share%20text">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
            </button>
        </div>
    </div>
  </div>
</div>
  <div class="panel-footer" style="background-color:#ffffff;">
  <div class="row">
  <div class="col-sm-3">
    <span class="views text-left"><strong class="view-count">Views: {{ post.views }}</strong></span>
  </div>
    <div class="wrapper text-center col-sm-6">
    <strong>Music Genre(s): </strong>
      <div class="btn-group">
        {% for tag in post.song.tags.all %}
        <a href="{% url 'blog:MusicByGenre' kw=tag.name %}"><button class="btn btn-default">{{tag.get_name_display}}</button></a>
        {% endfor %}
      </div>
    </div>
    <span >
    {% include 'buttons/cell_playlist_button.html' %}

  </div>
  </div>
  </div>
</div>
</div>
