<nav class="navbar navbar-inverse no-margin navbar-fixed-top" style="background-color:#000;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>

    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="navbar-brand" href="/">Millennial Music</a>
      </li>
      <li>
        <button class="btn btn-primary navbar-btn" id="menu-toggle-2" style="margin-left:0px;">##</button>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
       <li>
       <form class="navbar-form" method="get" action="{% url 'blog:search' %}" style="display:none;">
         <div class="form-group">
           <input type="text" name="q" class="form-control" placeholder="Search...">
           <button class="btn btn-default" type="submit">Submit</button>
         </div>
       </form>
     </li>
     <li>
       <button class="btn btn-default navbar-btn search-button">
         <i class = "fa fa-search fa-lg"></i>
       </button>
     </li>
       {% if user.is_authenticated %}
       <li><a href="/accounts/logout">Logout</a></li>
       {% else %}

       <li><a href="{% url 'blog:login' %}">sign in</a></li>
       <li><a href="{% url 'blog:register' %}">sign up</a></li>

       {% endif %}

    </ul>

  </div>
</nav>
