{% load staticfiles %}


<div class="row">
<div class="col-sm-12">
  <div class="panel panel-default post-container">
    <div>
      <div class="panel-header text-center">
        {% if post.is_playlist %}
        <a href="{% url 'blog:playlist' pk=post.id %}" style="color:#212121;"><h4>{{ post.title }}</h4></a>
        {% else %}
        <a href="{% url 'blog:BlogPost' slug=post.feed.slug pk=post.id %}" style="color:#212121;"><h4>{{ post.title }}</h4></a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
      <div class="panel-body">

        {% if post.image %}
          <img src="/media/{{ post.image }}" class="img-rounded" id="img-container" style="width:200px;height:150px" />
        {% else %}
          <img src="{% static "blog/public/images/millennialsmusic_icon.jpg" %}" class="img-rounded" style="width:150px;height:150px" />
        {% endif %}


      </div>
      </div>
      <div class="col-sm-6">

      <div class="panel-body text-center">{{ post.description|truncatewords_html:40|linebreaks }}</div>
      </div>
      <div class="col-sm-3">
        <div class="btn-group-vertical pull-right">
            {% include 'buttons/cell_like_button.html' %}
            {% include 'buttons/fb_share_button.html' %}
            {% include 'buttons/twitter_share_button.html' %}
        </div>
    </div>
    </div>
    <div class="panel-footer" style="background-color:#ffffff;">
      <span class="views text-right">
        {% if post.is_playlist %}
        <strong>created by: {{ post.author }}</strong> | <strong> {{post.pub_date|timesince}}</strong></span>
        {% else %}
        <strong>written by: {{ post.author }}</strong> | <strong> {{post.pub_date|timesince}}</strong></span>
        {% endif %}
    </div>
  </div>
  </div>
</div>
