{% extends 'blog/blog_feed.html' %}
{% load staticfiles %}

{% block title_content_block %}
<div class="wrapper text-center">
  {% for genre in genre_list %}
  <button class="btn btn-default genre-button" id="genre-button" data-id="{% url "blog:music_by_genre" kw=genre.name %}">
    {{ genre.get_name_display }}
  </button>
  {% endfor %}
</div>
{% endblock %}

{% block script_block %}
<script>
  $('.genre-button').click(function(e) {
    e.preventDefault();
   var $this  = $(this);
   $this
      .closest('.row')
      .next('.body-block')
      .remove(".row")
      .load($this.attr("data-id"));
 });

</script>
{% endblock %}
